
<section class="promo">
  <img src="../../assets/images/promo.png" alt="promo picture" class="promo__image">
  <div class="promo__banner">
    <div class="promo__banner__content">
      <a href="#" class="promo__banner__link">
        <h1 class="promo__banner__header">
          <span>MAKE WINTER COOL</span><br>
          <span>WITH ON TREND SKI JACKETS</span>
        </h1>
      </a>
      <div class="promo__banner__menu">Shop now for
        <a target href="#">Women</a>
        ,
        <a target='_blank' rel="noopener norefferer" href="#">Men</a>
        ,
        <a target href="#">Girls</a> and
        <a target href="#">Boys</a>
        .
      </div>
    </div>
  </div>
</section>
