.winter-clothes {
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
}
.winter-clothes .winter-clothes__item {
  position: relative;
  overflow: hidden;
}
.winter-clothes .winter-clothes__item .winter-clothes__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.winter-clothes .winter-clothes__item .winter-clothes__header {
  font-size: 74px;
  margin: 10px 0 20px;
  position: absolute;
  top: 60px;
  left: 60px;
  font-weight: 700;
  color: rgb(33, 56, 117);
  max-width: 60%;
  line-height: 1.2;
}
.winter-clothes .winter-clothes__item .winter-clothes__shop {
  padding: 10px 30px;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 80%;
  max-width: 320px;
  background-color: rgb(255, 255, 255);
  color: rgb(33, 56, 117);
  border: 1px solid rgb(33, 56, 117);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.winter-clothes .winter-clothes__item .winter-clothes__shop::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  content: "";
  background-color: rgb(33, 56, 117);
  z-index: -1;
}
