<div class="winter-clothes">
  <div class="winter-clothes__item">
    <img src="../../assets/images/winter-clothes/winter-clothes-men.png" alt="shop men image" class="winter-clothes__image">
    <h2 class="winter-clothes__header">WINTER CLOTHES</h2>
    <a href="" class="winter-clothes__shop">
      SHOP MEN
    </a>
  </div>
  <div class="winter-clothes__item">
    <img src="../../assets/images/winter-clothes/winter-clothes-women.png" alt="shop women image" class="winter-clothes__image">
    <h2 class="winter-clothes__header">WINTER CLOTHES</h2>
    <a href="" class="winter-clothes__shop">
      SHOP WOMEN
    </a>
  </div>
</div>
