.popular {
  padding: 49px 0;
}
.popular .popular__text {
  max-width: none;
  padding-left: 60px;
  padding-right: 60px;
}
.popular .popular__text .popular__text_box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 49px;
}
.popular .popular__text .popular__text_box .popular__header {
  color: rgb(33, 56, 117);
  font-size: 24px;
  line-height: 1.4;
  font-weight: 600;
  margin: 0;
}
.popular .popular__carousel {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}
.popular .popular__carousel .popular__carousel__elements {
  position: relative;
}
.popular .popular__carousel .popular__carousel__elements .carousel__list {
  display: grid;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding: 0 60px;
  height: 100%;
}
.popular .popular__carousel .popular__carousel__elements .carousel__list .carousel__items {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  flex-wrap: nowrap;
  padding: 0 60px;
  height: 100%;
}
.popular .popular__carousel .popular__carousel__elements .carousel__list .carousel__items .popular__carousel_item {
  width: 27vw;
  position: relative;
  /*width: 80vw;*/
  padding-bottom: 150%;
  overflow: hidden;
  scroll-snap-align: start;
}
.popular .popular__carousel .popular__carousel__elements .carousel__list .carousel__items .popular__carousel_item .carousel_image {
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popular .popular__carousel .popular__carousel__elements .carousel__list .carousel__items .popular__carousel_item .carousel_item-banner {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.carousel_item-banner .item-banner-text {
  font-size: 40px;
  line-height: 1.4;
  display: table;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 0 7px;
  background: rgba(0, 0, 0, 0.4);
}

.popular .popular__carousel .popular__carousel__elements .carousel_chevron-right {
  color: rgb(33, 56, 117);
  cursor: pointer;
  background: none rgb(255, 255, 255);
  font: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 20px;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0;
  border: 2px solid currentcolor;
  border-radius: 50%;
}
.popular .popular__carousel .popular__carousel__elements .carousel_chevron-left {
  color: rgb(33, 56, 117);
  background: none rgb(255, 255, 255);
  font: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 20px;
  left: 0;
  width: 30px;
  height: 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0;
  border: 2px solid currentcolor;
  border-radius: 50%;
}
.popular .popular__carousel .popular__carousel__elements .carousel_chevron-right .carousel_chevron-icon {
  width: 1em;
  height: 1em;
  overflow: hidden;
}
