
<div class="header__notice">
  <div class="header__notice_list">
    <div class="header__notice-item">
      <svg aria-hidden="true" width="1em" height="1em" viewBox="0 0 13 10" class="header__notice-icon"><polygon fill="currentColor" fill-rule="nonzero" points="4.4,9.4 0.3,5.6 1.7,4.1 4.4,6.6 11.3,0.3 12.7,1.7 "></polygon>
      </svg>
      <div class="header__notice-text">Free delivery</div>
    </div>
    <div class="header__notice-item">
      <svg aria-hidden="true" width="1em" height="1em" viewBox="0 0 13 10" class="header__notice-icon"><polygon fill="currentColor" fill-rule="nonzero" points="4.4,9.4 0.3,5.6 1.7,4.1 4.4,6.6 11.3,0.3 12.7,1.7 "></polygon>
      </svg>
      <div class="header__notice-text">Official Protest webshop</div>
    </div>
    <div class="header__notice-item">
      <svg aria-hidden="true" width="1em" height="1em" viewBox="0 0 13 10" class="header__notice-icon"><polygon fill="currentColor" fill-rule="nonzero" points="4.4,9.4 0.3,5.6 1.7,4.1 4.4,6.6 11.3,0.3 12.7,1.7 "></polygon>
      </svg>
      <div class="header__notice-text">Trusted Shops rating of 9.2</div>
    </div>
    <div class="header__notice-item">
      <svg aria-hidden="true" width="1em" height="1em" viewBox="0 0 13 10" class="header__notice-icon"><polygon fill="currentColor" fill-rule="nonzero" points="4.4,9.4 0.3,5.6 1.7,4.1 4.4,6.6 11.3,0.3 12.7,1.7 "></polygon>
      </svg>
      <div class="header__notice-text">Dutch brand - since 1993</div>
    </div>
  </div>
</div>
